/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-orange: hsl(35, 77%, 62%);
  --clr-red: hsl(5, 85%, 63%);
  /* neutral */
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-blue: hsl(233, 8%, 79%);
  --clr-blue-gray: hsl(236, 13%, 42%);
  --clr-blue-darker: hsl(240, 100%, 5%);

  --clr-white: #fff;
  --ff-primary: 'Inter', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 15px;
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/*  global classes */

.main {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
/*
=============== 
Navbar
===============
*/
.nav-links {
  display: none;
}
.nav {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  height: 5rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}
@media screen and (min-width: 992px) {
  .nav {
    background: var(--clr-primary-10);
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 1rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-blue-gray);
    font-weight: bold;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-links a:hover {
    color: var(--clr-red);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
  }
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 4;
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* toggle sidebar */
.show-sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: var(--clr-primary-5);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: #bb2525;
  cursor: pointer;
}
.close-btn:hover {
  color: #e66b6b;
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

/*
=============== 
header
===============
*/
.header-center h1 {
  font-weight: 800;
}
.header-center p {
  color: var(--clr-blue-gray);
}
.header-btn {
  color: var(--clr-off-white);
  background: var(--clr-red);
  padding: 1rem 2rem;
  border: transparent;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-weight: 600;
  transition: var(--transition);
}
.header-btn:hover {
  background: var(--clr-blue-darker);
}
.header-center {
  margin-bottom: 3rem;
}

/*
=============== 
News
===============
*/
.news-center {
  background: var(--clr-blue-darker);
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}
.news-center h2 {
  color: var(--clr-orange);
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.news-center h3 {
  color: var(--clr-off-white);
}
.news-center p {
  color: var(--clr-blue-gray);
}
.underline {
  width: 100%;
  height: 0.05rem;
  margin-bottom: 1.25rem;
  background: var(--clr-blue-gray);
  margin-left: auto;
  margin-right: auto;
}
.new-tile h3:hover {
  color: var(--clr-orange);
  transition: var(--transition);
}
/*
=============== 
Reports
===============
*/
.report-center {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1.5rem;
}
.report-card {
  display: grid;
  grid-template-columns: auto 1fr;
}
.report-card img {
  width: 70%;
}

.report-description {
  padding: 0.5rem 0;
  /* max-width: 14rem; */
  margin-left: -2.5rem;
}

.report-description p {
  margin-bottom: 0;
}
.report-description h2,
.report-description p {
  color: var(--clr-blue-gray);
}

.report-description h3:hover {
  color: var(--clr-red);
  transition: var(--transition);
}

/*
=============== 
Responsive
===============
*/

@media screen and (min-width: 992px) {
  /* header */
  .header-center {
    display: grid;
    grid-template-areas:
      'a a'
      'b c'
      'b d';
    grid-gap: 2rem;
  }
  .header picture {
    grid-area: a;
  }
  .header h1 {
    grid-area: b;
  }
  .header p {
    grid-area: c;
  }
  .header-btn {
    grid-area: d;
    width: 15rem;
  }
  /* report */
  .report-center {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    grid-template-rows: 13rem;
  }
  .report-card h2 {
    font-size: 1.5rem;
  }
  .report-card h3 {
    font-size: 1.2rem;
  }
  .report-card p {
    font-size: 0.85rem;
  }
  .main {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    grid-template-areas:
      'd e'
      'f f';
  }
  .header {
    grid-area: d;
  }
  .news {
    grid-area: e;
  }
  .news-center {
    margin-bottom: 0;
    height: 100%;
    display: grid;
  }
  .news-center h2 {
    margin-bottom: 3rem;
  }
  .underline {
    margin-bottom: 2rem;
  }
  .report {
    grid-area: f;
  }
}
